<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<div> <button id="newGameButton" class="new-game-button"> New Game </button>
    <h2 class="total-cost" id="totalCost"> </h2>
</div>
<div class="cards-grid" id="cardsGrid"> </div>
<div class="toast" id="toast"> ASDF </div>
<div class="current-action" id="currentAction"> </div>
<div class="clickables-container">
    <div class="purchase-grid" id="purchaseGrid">
        <span> Price </span>
        <span> Attribute </span>
        <span class="price"> 8 </span>
        <button id="rulesTextButton" class="attribute" data-attribute="text" data-cost="8"> Rules Text (r) </button>
        <span class="price"> 4 </span>
        <button id="typeButton" class="attribute" data-attribute="type" data-cost="4"> Type (t) </button>
        <span class="price"> 3 </span>
        <button id="ptButton" class="attribute" data-attribute="power-toughness" data-cost="3">Power/Toughness
            (p)</button>
        <span class="price"> 3 </span>
        <button id="manaCostButton" class="attribute" data-attribute="mana-cost" data-cost="3"> Mana Cost (m) </button>
        <span class="price"> 1 </span>
        <button id="flavorTextButton" class="attribute" data-attribute="flavor-text" data-cost="1"> Flavor Text (f)
        </button>
    </div>
    <div class="categories-grid" id="categoriesGrid">
        <button id="button1" class="category" data-category="1"></button>
        <button id="button2" class="category" data-category="2"></button>
        <button id="button3" class="category" data-category="3"></button>
        <button id="button4" class="category" data-category="4"></button>
    </div>
    <button class="submit-button" id="submitButton"> Submit Guess (Costs 5 if you're wrong) </button>
</div>

<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>