<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<h4 class="total-cost" id="totalCost"> </h4>
<div class="cards-grid" id="cardsGrid"> </div>
<div class="toast" id="toast"></div>
<div class="purchase-grid" id="purchaseGrid">
        <span> Price </span>
        <span> Attribute </span>
        <span> 8 </span>
        <button class="attribute" data-attribute="text" data-cost="8"> Rules Text </button>
        <span> 4 </span>
        <button class="attribute" data-attribute="type" data-cost="4"> Type </button>
        <span> 3 </span>
        <button class="attribute" data-attribute="mana-cost" data-cost="3"> Mana Cost </button>
        <span> 1 </span>
        <button class="attribute" data-attribute="flavor-text" data-cost="1"> Flavor Text </button>
</div>

<script src="{{ url_for('static', filename='js/config.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>